aiohttp==
aiosignal ==
attrs==
CacheControl==
cachy==
certifi==
cffi==
charset-normalizer==
cleo==
click==
clikit==
crashtest==
cryptography==
debugpy==
discord==
discord.py==
disnake==
distlib==
filelock==
Flask==
frozenlist==
html5lib==
idna==
importlib-metadata==
itsdangerous==
jedi==
jeepney==
Jinja2==
keyring==
lockfile==
MarkupSafe==
msgpack==
multidict==
numpy==
packaging==
parso==
pastel==
pexpect==
pkginfo==
platformdirs==
pluggy==
poetry==
poetry-core==
ptyprocess==
py-cord==
pycparser==
pyflakes==
pylev==
pyparsing==
python-lsp-jsonrpc==
python-lsp-server==
pytoolconfig==
pytz==
replit==
requests==
requests-toolbelt==
rope==
SecretStorage==
shellingham==
six==
toml==
tomli==
tomlkit==
typing-extensions==
ujson==
urllib3==
virtualenv==
webencodings==
Werkzeug==
whatthepatch==
yapf==
yarl==
zipp==
